includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5

    paths:
        - src
        - tests

    excludePaths:
        analyse:
            - vendor/*
            - .github/*
            - storage/*
            - bootstrap/cache/*